<h1> Stupid training v2 </h1>
<div class="container">
<%= @question %>
<p>You</p>
</div>
<div class="container">
<%= @answer %>
<p>The Coach</p>
</div>

<div class="link"><%= link_to "ask again", ask_path %></div>
